

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

nav {
    margin-left: auto; 
    display: flex;
    align-items: center; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

h2 {
    text-align: center;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

figure {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

figcaption {
    font-size: 14px;
    margin-top: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

footer a {
    color: #d27ac8;
}


