
@media screen and (max-width: 475px) {
    header {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    main {
        padding: 10px;
        display: block;
        text-align: center;
    }

    figure {
        margin: 0 auto 20px;
        display: block;
        
    }
}




